<footer id="footer" class="site-footer">
  {% if page.layout == "about" %}
    <div class="wrapper flex wrap justify-between">
        <p class="margin-none">
            &copy; {{ site.time | date: '%Y' }} <a href="mailto:minhtri.contact@gmail.com?Subject=Hello!">Minh Tri</a>.
        </p>
        <p class="margin-none">
            <a rel="author" href="https://github.com/{{ site.github_username }}">Github</a>
            | <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
            | <a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a>
        </p>
    </div>
  {% endif %}
</footer>
{% if page.layout == "about" %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Minh Tri Vu",
  "url": "{{ site.url }}",
  "sameAs": [
    "http://twitter.com/minhtri_vu",
    "https://www.linkedin.com/in/minhtrivu",
    "https://plus.google.com/u/1/110933603599655337800"
  ]
}
</script>
{% endif %}
<script src="{{ '/js/app.js' }}" charset="utf-8"></script>
