<header id="header" class="site-header">
  <div class="wrapper">
    <nav class="site-nav">
        <ul role="menubar" class="flex wrap justify-between list-style-none margin-none padding-none">
            {% for page in site.pages %}
              {% if page.title %}
                <li role="menuitem"><a class="site-link" href="{{ page.url | prepend: site.baseurl }}" itemprop="url"><span itemprop="name">{{ page.title }}</span></a></li>
              {% endif %}
            {% endfor %}
        </ul>
    </nav>
  </div>
</header>
