.border-none {
	border: 0 !important;
}
.border-clear-y,
.border-clear-top {
	border-top: 0 !important;
}
.border-clear-x,
.border-clear-right {
  border-right: 0 !important;
}
.border-clear-y,
.border-clear-bottom {
  border-bottom: 0 !important;
}
.border-clear-x,
.border-clear-left {
  border-left: 0 !important;
}
