.col {
    box-sizing: border-box;
    padding: 0 .5em;
	&.col-x-1 {
		width: $col-x-1;
        max-width: $col-x-1;
	}
	&.col-x-2 {
		width: $col-x-2;
        max-width: $col-x-2;
	}
	&.col-x-3 {
		width: $col-x-3;
        max-width: $col-x-3;
	}
	&.col-x-4 {
		width: $col-x-4;
        max-width: $col-x-4;
	}
	&.col-x-5 {
		width: $col-x-5;
        max-width: $col-x-5;
	}
	&.col-x-6 {
		width: $col-x-6;
        max-width: $col-x-6;
	}
	&.col-x-7 {
		width: $col-x-7;
        max-width: $col-x-7;
	}
	&.col-x-8 {
		width: $col-x-8;
        max-width: $col-x-8;
	}
	&.col-x-9 {
		width: $col-x-9;
        max-width: $col-x-9;
	}
	&.col-x-10 {
		width: $col-x-10;
        max-width: $col-x-10;
	}
	&.col-x-11 {
		width: $col-x-11;
        max-width: $col-x-11;
	}
	&.col-x-12 {
		width: $col-x-12;
        max-width: $col-x-12;
	}
}
