.margin-x-1 {
  margin: 1em;
}
.margin-x-2 {
  margin: 2em;
}
.margin-none {
  margin: 0 !important;
}
.margin-auto-top {
	margin-top: auto !important;
}
.margin-clear-y,
.margin-clear-top {
	margin-top: 0 !important;
}
.margin-auto-right {
	margin-right: auto !important;
}
.margin-clear-x,
.margin-clear-right {
	margin-right: 0 !important;
}
.margin-auto-bottom {
	margin-bottom: auto !important;
}
.margin-clear-y,
.margin-clear-bottom {
	margin-bottom: 0 !important;
}
.margin-auto-left {
	margin-left: auto !important;
}
.margin-clear-x,
.margin-clear-left {
	margin-left: 0 !important;
}
.margin-auto {
	margin: auto !important;
}
