.padding-x-1 {
  padding: .5em;
}
.padding-x-2 {
  padding: 1em;
}
.padding-none {
  padding: 0 !important;
}
.padding-clear-y,
.padding-clear-top {
	padding-top: 0 !important;
}
.padding-clear-x,
.padding-clear-right {
	padding-right: 0 !important;
}
.padding-clear-y,
.padding-clear-bottom {
	padding-bottom: 0 !important;
}
.padding-clear-x,
.padding-clear-left {
	padding-left: 0 !important;
}
