/* General */
.list-style-none {
  list-style: none;
}
.wrapper {
  margin: 0 18.16%;
  padding: 1.618% 0;
}

/* Site header */
.site-header {
  a {
    color: #555;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Site main */
.site-main {
  .wrapper {
    padding-bottom: 0;
    .post-list {
        .post {
            padding-bottom: 1em;
            .entry-meta {
                font-size: 85%;
                opacity: .8;
                margin-bottom: 0;
            }
        }
    }
  }
  .banner-text {
    font-size: 2.5rem;
    top: calc(50% - 2rem);
    width: 100%;
  }
  .banner-image {
    width: 100%;
    height: auto;
  }
  .book-list {
    padding-top: 1em;
  }
  .book-list li {
  	height: 225px;
  	perspective: 2000px;
  }
  .book {
    height: 225px;
    width: 150px;
    margin: 0 auto;
  	transform-style: preserve-3d;
  	transition: transform .5s;
    &.book-default:hover {
    	transform: rotate3d(0, 1, 0, 35deg);
    }
  }
  .book > div,
  .book-front > div {
    display: block;
  	position: absolute;
    transform-style: preserve-3d;
  }
  .book-front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #efefef;
  	transform-origin: 1.5px;
  	transition: transform .5s;
  	transform: translate3d(0, 0, 20px);
  	cursor: pointer;
    .book-cover-inside {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
  .book-page {
    background-color: #f7f7f7;
  	transform: translate3d(0, 0, 19px);
  	display: none;
  	width: 140px;
  	height: 190px;
  	top: 5px;
  	left: 5px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  	backface-visibility: hidden;
  	z-index: 9;
  }
  .book-front, .book-back, .book-front > div {
  	width: 150px;
  	height: 200px;
  	cursor: pointer;
  }
  .book-left {
  	width: 40px;
    left: -20px;
  	border-bottom-right-radius: 3px;
  	border-bottom-left-radius: 3px;
    transform: rotate3d(0, 1, 0, -90deg);
    p {
      border-top: 3px solid #efefef;
    	width: 200px;
    	height: 40px;
    	line-height: 40px;
    	transform-origin: 0 0;
    	transform: rotate(90deg) translateY(-40px);
    }
    .turn-back {
    	display: block;
    	float: left;
    	width: 40px;
    	height: 40px;
    	background: url("/images/back-btn.png") no-repeat center center;
    }
  }
  .book-back {
  	transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  	border-radius: 3px;
    p {
      line-height: 1.4;
    	padding: 5px;
    	padding-right: 15px;
    }
    a {
      color: #666;
      display: block;
      text-decoration: underline;
    }
  }
  .book-back:after {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 10px;
  	bottom: 0;
  	width: 3px;
  	background: rgba(0, 0, 0, 0.03);
  	left: auto;
  	right: 10px;
  }
  .book-cover-inside {
  	transform: rotate3d(0, 1, 0, -180deg);
  	border-radius: 0;
  	border-top-left-radius: 3px;
  	border-bottom-left-radius: 3px;
  }
  .book-inside {
  	transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
    .book-front {
      transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
    }
  }
  .book-backface {
  	transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
    .book-back {
      z-index: 10
    }
  }
  .book-front, .book-front > div {
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
  }
  .book-content {
  	position: absolute;
  	top: 5px;
  	left: 5px;
  	bottom: 5px;
  	right: 5px;
  	overflow: hidden;
  	opacity: 0;
  	pointer-events: none;
  	backface-visibility: hidden;
  	transition: opacity 0.3s ease-in-out;
  	cursor: default;
  }
  .book-preface-text {
  	opacity: 1;
  	pointer-events: auto;
  }
}

/* Site footer */
.site-footer {

}
