.overline {
  text-decoration: overline;
}
.strikethrough {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.text-small {
  font-size: 75%;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
