// Columns
$col-x-1: 8.33333%;
$col-x-2: 16.66667%;
$col-x-3: 25%;
$col-x-4: 33.33333%;
$col-x-5: 41.66667%;
$col-x-6: 50%;
$col-x-7: 58.33333%;
$col-x-8: 66.66667%;
$col-x-9: 75%;
$col-x-10: 83.33333%;
$col-x-11: 91.66667%;
$col-x-12: 100%;

// Breakpoints
$extra-large-breakpoint: 100em;
$large-breakpoint: 80em;
$medium-large-breakpoint: 64em;
$medium-breakpoint: 48em;
$small-breakpoint: 30em;
$extra-small-breakpoint: 20em;
