<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/AboutPage">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="site-main">
      <div class="wrapper flex wrap justify-between">
          <div itemscope itemtype="http://schema.org/ImageObject">
              <img class="banner-image" itemprop="contentUrl" src="{{ '/images/profile.jpg' | prepend: site.baseurl }}" alt="Bookworm">
          </div>
          {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
